
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1"
								aria-expanded="false">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="http://www.nbajugones.es">NBA Jugones</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse"
							id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown" role="button" aria-haspopup="true"
									aria-expanded="false">Equipos <span class="caret"></span></a>
									<ul class="dropdown-menu">
									#set($html=".html")
										 #foreach( $equipo in $combo )
											<li><a
												href="$equipo.key$html">
													$equipo.value </a></li>
										#end

									</ul></li>
								<li><a href="free_agents.html">Ver
												FA's</a></li>
										<li><a href="todos.html">Ver
												todos</a></li>
										<li><a href="derechos.html">Derechos</a></li>
										<li><a href="rondas.html">Rondas</a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown" role="button" aria-haspopup="true"
									aria-expanded="false">Drafts <span class="caret"></span></a>
									<ul class="dropdown-menu">
										 #foreach( $y in $years )
											<li><a
												href="draft$y$html">
													$y </a></li>
										#end

									</ul></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown" role="button" aria-haspopup="true"
									aria-expanded="false">Copa <span class="caret"></span></a>
									<ul class="dropdown-menu">
									<li><a
                                                                                												href="copa1819.html">
                                                                                													2018-19 </a></li>
									        <li><a
                                            												href="copa1718.html">
                                            													2017-18 </a></li>
											<li><a
												href="copa1617.html">
													2016-17 </a></li>
											<li><a
												href="copa1516.html">
													2015-16 </a></li>
											<li><a
												href="copa1415.html">
													2014-15 </a></li>
											<li><a
												href="copa1314.html">
													2013-14 </a></li>
											<li><a
												href="copa1213.html">
													2012-13 </a></li>
											<li><a
												href="copa1112.html">
													2011-12 </a></li>

									</ul></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown" role="button" aria-haspopup="true"
									aria-expanded="false">Historico <span class="caret"></span></a>
									<ul class="dropdown-menu">
									        <li><a href="temp2021.html">2020-21 </a></li>
									        <li><a href="temp1920.html">2019-20 </a></li>
									        <li><a href="temp1819.html">2018-19 </a></li>
									        <li><a href="temp1718.html">2017-18 </a></li>
											<li><a
												href="temp1617.html">
													2016-17 </a></li>
											<li><a
												href="temp1516.html">
													2015-16 </a></li>
											<li><a
												href="temp1415.html">
													2014-15 </a></li>
											<li><a
												href="temp1314.html">
													2013-14 </a></li>
											<li><a
												href="temp1213.html">
													2012-13 </a></li>
											<li><a
												href="temp1112.html">
													2011-12 </a></li>
											<li><a
												href="temp1011.html">
													2010-11 </a></li>
											<li><a
												href="temp0910.html">
													2009-10 </a></li>
											<li><a
												href="temp0809.html">
													2008-09 </a></li>
											<li><a
												href="temp0708.html">
													2007-08 </a></li>
											<li><a
												href="temp0607.html">
													2006-07 </a></li>
											<li><a
												href="temp0506.html">
													2005-06 </a></li>
											<li><a
												href="temp0405.html">
													2004-05 </a></li>
									</ul></li>
									<li><a href="http://nbajugones.mforos.com">Foro</a></li>
							</ul>

						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- /.container-fluid -->
				</nav>
