
<html>
<head>
<title>NBA Jugones - Roster</title>

<meta http-equiv="content-type" content="text/html; charset=iso-8859-15">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="/css/estilosBootstrap.css"	type="text/css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/jquery.tablesorter.js"></script>
</head>
<body>

	<div class="cuerpo">
		<div class="cabecera">
			<div class="equipos">
				#parse("cabecera.vm")

				<!-- /header -->
			</div>
			<div class="separadorHorizontal"></div>
			<div id="contenido" class="container">
				<div class="row">
<div class="col-md-12 col-sd-12 center">


    <div>
        <div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">FA's</h3>
			</div>
			<div class="panel-body table-responsive">
				<table id="tablaJugadores" class="sort-table table">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
							<th>Jugador</th>
							<th>Puntos</th>
							<th>FPPM</th>
							<th>Jugados</th>
							<th>Minutos</th>
							<th>Observaciones</th>
							<th>Cortado por</th>
						</tr>
					</thead>
					<tbody>

						#foreach($jugador in $fa)
							#set($jpg=".jpg")
							<tr >								
							<td style="font-weight: bold; font-size: 1.1em">$jugador.posicion</td>
								<td><img alt="$jugador.nombre"
									src="http://cdn.basketball.sports.ws/players/$jugador.nombreFoto$jpg"
									style="height: 50px;" title="$jugador.nombre" /></td>
								<td><a
									href="http://basketball.sports.ws/player/$jugador.nombreFoto?league=160091"
									target="blank">$jugador.nombre</a></td>								
								<td>#if($jugador.puntos)$jugador.puntos#end</td>
								<td>#if($jugador.promedio)$jugador.promedio#end</td>
								<td>#if($jugador.jugados)$jugador.jugados#end</td>
								<td>#if($jugador.minutos)$jugador.minutos#end</td>
								<td>#if($jugador.obs)$jugador.obs#end</td>
								<td>$jugador.cortadoPor</td>
							</tr>
						#end
					</tbody>
				</table>
			</div>
		</div>  
    </div>
    
</div>        
</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
$(document).ready(function(){$('#tablaJugadores').tablesorter();});
</script>
</html>