
<html>
<head>
<title>NBA Jugones - Temporada $temporada</title>

<meta http-equiv="content-type" content="text/html; charset=iso-8859-15">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="/css/estilosBootstrap.css"	type="text/css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/jpages.js"></script>
</head>
<body>

	<div class="cuerpo">
		<div class="cabecera">
			<div class="equipos">
				#parse("cabecera.vm")

				<!-- /header -->
			</div>
			<div class="separadorHorizontal"></div>
			<div id="contenido" class="container">
				<div class="row">
	<div class="col-md-12 col-sd-12 center">
	<h1>Temporada $temporada</h1>
	</div>
</div>
<div class="row">
	#set ($elemento=0)
	<div class="col-md-12 col-sd-12 center">
	#if ($ganador)
	<h3>Ganador</h3>
	$ganador.logo
			<br/>
	<b>$ganador.nombre</b>
	#end
	<div class="row">
	<h3>Playoffs</h3>
	<main id="tournament" class = "bracket">


		<ul class="round round-2">
		#foreach($partido in $ronda1)
		<li class="spacer">&nbsp;</li>
		<li class="game game-top #if ($partido.ganador1) winner #end"><img alt="$partido.equipo1.nombre"
			src="$partido.equipo1.logoDraft" title="$partido.equipo1.nombre" /><span>$partido.resultado1</span></li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom #if ($partido.ganador2)winner#end"><img alt="$partido.equipo2.nombre"
			src="$partido.equipo2.logoDraft" title="$partido.equipo2.nombre" /><span>$partido.resultado2</span></li>

		#end
		<li class="spacer">&nbsp;</li>
		</ul>
		<ul class="round round-3">
		#foreach($partido in $ronda2)
		<li class="spacer">&nbsp;</li>
		<li class="game game-top #if ($partido.ganador1) winner #end"><img alt="$partido.equipo1.nombre"
			src="$partido.equipo1.logoDraft" title="$partido.equipo1.nombre" /><span>$partido.resultado1</span></li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom #if ($partido.ganador2)winner#end"><img alt="$partido.equipo2.nombre"
			src="$partido.equipo2.logoDraft" title="$partido.equipo2.nombre" /><span>$partido.resultado2</span></li>

		#end
		<li class="spacer">&nbsp;</li>
		</ul>
		<ul class="round round-4">
		#foreach($partido in $semis)
		<li class="spacer">&nbsp;</li>
		<li class="game game-top #if ($partido.ganador1) winner #end"><img alt="$partido.equipo1.nombre"
			src="$partido.equipo1.logoDraft" title="$partido.equipo1.nombre" /><span>$partido.resultado1</span></li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom #if ($partido.ganador2)winner#end"><img alt="$partido.equipo2.nombre"
			src="$partido.equipo2.logoDraft" title="$partido.equipo2.nombre" /><span>$partido.resultado2</span></li>

		#end
		<li class="spacer">&nbsp;</li>
		</ul>
		<ul class="round round-5">
		#foreach($partido in $rondaFinal)
		<li class="spacer">&nbsp;</li>
		<li class="game game-top #if ($partido.ganador1) winner #end"><img alt="$partido.equipo1.nombre"
			src="$partido.equipo1.logoDraft" title="$partido.equipo1.nombre" /><span>$partido.resultado1</span></li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom #if ($partido.ganador2)winner#end"><img alt="$partido.equipo2.nombre"
			src="$partido.equipo2.logoDraft" title="$partido.equipo2.nombre" /><span>$partido.resultado2</span></li>

		#end
		<li class="spacer">&nbsp;</li>
		</ul>
		</main>
		</div>
	<h3>Temporada regular</h3>
		#foreach($conferencia in $rs)
		<div class="col-md-6 col-sd-6 center">
			<h5>$conferencia.nombre</h5>
			#foreach($division in $conferencia.divisiones)
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Division $division.nombre</h3>
				</div>
				<div class="panel-body table-responsive">
					<table class="table">
					#foreach($equipo in $division.datos)
					<tr>

									<td>$equipo.nombreEquipo</td>
									<td>$equipo.ganados</td>
									<td>$equipo.perdidos</td>
									<td>$equipo.media</td>
					</tr>
					#end
					</table>
				</div>
			</div>
			#end
		</div>
		#end


		</div>

	</div>

</div>
			</div>
		</div>
	</div>


			</div>
		</div>
	</div>
</body>
</html>