
<html>
<head>
<title>NBA Jugones - $equipo.nombre</title>

<meta http-equiv="content-type" content="text/html; charset=iso-8859-15">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="/css/estilosBootstrap.css"	type="text/css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/jpages.js"></script>
</head>
<body>

	<div class="cuerpo">
		<div class="cabecera">
			<div class="equipos">				
				#parse("cabecera.vm")
				<!-- /header -->
			</div>
			<div class="separadorHorizontal"></div>
			<div id="contenido" class="container">
				<div class="row">
	<div class="col-md-12 col-sd-12 center">
		
	</div>
</div>
<div class="row">
	<div class="col-md-2 col-sd-2">
		<div class="center">
		$equipo.logo
		<p>
			<b>GM:</b> <a
				href="http://privados.miarroba.es/#!new&to=$equipo.propietario"
				target="blank">$equipo.propietario</a>
		</p>
		#if ($evaluacion.warning)
		<p class="alert alert-danger">Este equipo esta por encima de algun limite</p>
		#end
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Balance salarial</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr>
						<td>Suma de salarios</td>
						<td> $numberTool.format("#0.00",$equipo.sumaSalarios)</td>
					</tr>
					<tr>
						<td>Cortes</td>
						<td> $numberTool.format("#0.00",$equipo.cortes)</td>
					</tr>
					<tr>
						<td>Lesionados</td>
						<td>$numberTool.format("#0.00",$equipo.lesionados)</td>
					</tr>
					<tr>
						<td><b>TOTAL SALARIOS</b></td>
						<td> $numberTool.format("#0.00",$equipo.totalSalarios)</td>
					</tr>
					<tr>
						<td>Bonus temp. anterior</td>
						<td> $numberTool.format("#0.00",$equipo.bonusAnt)</td>
					</tr>
					<tr>
						<td>Bonus temp. actual</td>
						<td> $numberTool.format("#0.00",$equipo.bonusAct)</td>
					</tr>
					<tr>
						<td>Sanciones</td>
						<td> $numberTool.format("#0.00",$equipo.sanciones)</td>
					</tr>
					<tr>
						<td><b>LIMITE SALARIAL</b></td>
						<td> $numberTool.format("#0.00",$equipo.limite)</td>
					</tr>
					<tr>
						#set($balance = $equipo.limite - $equipo.totalSalarios)
						<td><b>BALANCE</b></td>
						<td> $numberTool.format("#0.00",$balance)</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Historico</h3>
			</div>
			<div class="panel-body">
				#foreach( $hist in $equipo.historico)

					<p>
						<b>$hist.temporada:</b> <br />
						$hist.ganados - $hist.perdidos ( $hist.media ) <br />
						#if ($hist.logros) 
						$hist.logros
						#end
					</p>
					
				#end
				<div class="page_navigation"></div>
			</div>
		</div>
	</div>
	<div class="col-md-7 col-sd-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Roster</h3>
			</div>
			<div class="panel-body table-responsive">
				<table class="table">
					<thead>
						<tr>
							<td>&nbsp;</td>
							<td>Jugador</td>
							<td>Salario (m$)</td>
							<td>A&ntilde;os</td>
							<td>Puntos</td>
							<td>FPPM</td>
							<td>Jugados</td>
							<td>Minutos</td>
							<td>Observaciones</td>
						</tr>
					</thead>
					<tbody>

						#foreach( $jugador in $equipo.plantilla)
							<tr #if($jugador.obs == 'FA') class="bg-info"#end >	
								#set($jpg=".jpg")
								<td><img alt="$jugador.nombre"
									src="http://cdn.basketball.sports.ws/players/$jugador.nombreFoto$jpg"
									style="height: 40px;" title="$jugador.nombre" /></td>
								<td><a
									href="http://basketball.sports.ws/player/$jugador.nombreFoto?league=140043"
									target="blank">$jugador.nombre ($jugador.posicion)</a></td>
								<td>#if( $jugador.obs == 'FA')
										-
									#else
										$jugador.salario</td>
									#end
								<td>$jugador.years </td>
								<td>#if($jugador.puntos)$jugador.puntos#end</td>
									<td>#if($jugador.promedio)$jugador.promedio#end</td>
									<td>#if($jugador.jugados)$jugador.jugados#end</td>
									<td>#if($jugador.minutos)$jugador.minutos#end</td>

								<td>#if($jugador.obs)$jugador.obs#end</td>
							</tr>
						#end
					</tbody>
				</table>
			</div>

		</div>
	</div>
	<div class="col-md-3 col-sd-3">
		#if ($equipo.rondas.size() > 0)
			<div class="row">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Rondas</h3>
					</div>
					<div class="panel-body table-responsive">
						<table class="table">
							<thead>
								<tr>
									<td>A&ntilde;o</td>
									<td>Ronda</td>
									<td>Equipo</td>
								</tr>
							</thead>
							<tbody>
								#foreach($ronda in $equipo.rondas)
									<tr>
										<td>$ronda.ano</td>
										<td>$ronda.ronda</td>
										<td>$ronda.equipo</td>
									</tr>
								#end
							</tbody>
						</table>
					</div>
				</div>
			</div>
		#end
		#if ($equipo.derechos.size() > 0)
			<div class="row">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Derechos</h3>
					</div>
					<div class="panel-body table-responsive">
						<table class="table">
							<thead>
								<tr>
									<td>Jugador</td>
									<td>Posicion</td>
									<td>Salario</td>
									<td>A&ntilde;os</td>
								</tr>
							</thead>
							<tbody>
								#foreach ($derecho in $equipo.derechos)
									<tr>
										<td>$derecho.jugador</td>
										<td>$derecho.posicion</td>
										<td>$derecho.salario</td>
										<td>$derecho.anos</td>

									</tr>
								#end
							</tbody>
						</table>
					</div>
				</div>
			</div>
		#end
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Movimientos</h3>
				</div>
				<div class="panel-body">
					
					<ul class="content" id="historicos">
						#foreach($log in $equipo.log)
							<li><b>$dateTool.format('dd/MM/yyyy HH:mm', $log.fecha): </b>
								$log.texto</li>
						#end
					</ul>
					<div class="holder"></div>
				</div>
			</div>
		</div>
	</div>
</div>
			</div>
		</div>
	</div>
</body>
</html>