
<html>
<head>
<title>NBA Jugones - Roster</title>

<meta http-equiv="content-type" content="text/html; charset=iso-8859-15">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="/css/estilosBootstrap.css"	type="text/css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/jquery.tablesorter.js"></script>
</head>
<body>
<div class="separadorHorizontal"></div>
	<div class="cuerpo">
		<div class="cabecera">
			<div id="contenido" class="container">
				<div class="row">
					<div class="widget center">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Ultimos partidos</h3>
						</div>
						<div class="panel-body table-responsive">
						#set ($elemento=0)
						#set($jpg=".jpg")
						#foreach($s in $schedule)
							<div class="thumbnail matches" data-thumbindex="$elemento">
								<br/>
								<div class="row center">
									<div class="col-md-5 col-sd-5 ">
										<span> <img alt="$s.match.away.nombre"
													src="$s.match.away.logoDraft" title="$s.match.away.nombre" /> </span>
										<br/>
										<h4 #if ($s.match.awayWinner)class="winner"#end>$s.match.awayScore</h4>
									</div>
									<div class="col-md-5 col-sd-5">
										<span> <img alt="$s.match.home.nombre"
												src="$s.match.home.logoDraft" title="$s.match.home.nombre" /> </span>
										<br/>
										<h4 #if ($s.match.homeWinner)class="winner"#end>$s.match.homeScore</h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 col-sd-12 center">
										<h4>Mejor jugador</h4>
										<div class="row center">
											<div class="col-md-12 col-sd-12 center">
												<img alt="$s.bestPlayer.jugador.nombre"
												 src="http://cdn.basketball.sports.ws/players/$s.bestPlayer.jugador.nombreFoto$jpg"
												 style="margin: 25px;height:75px;" title="$s.bestPlayer.jugador.nombre" />
											</div>
										</div>
									</div>
									<div class="col-md-12 col-sd-12 center">
										<p>$s.bestPlayer.puntos puntos / $s.bestPlayer.asistencias asist / $s.bestPlayer.reb reb</p>
										<p>$s.bestPlayer.puntuacionHoops FPPG / $numberTool.format("#0.00",$s.bestPlayer.fppm) FPPM</p>
									</div>
								</div>
							</div>
							#set ($elemento=$elemento+1)
						#end
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	var index = 0;
	$().ready(function () {
		showHide();
	});

	function showHide() {
		$(".matches").hide();
		$(".matches").each(function () {
			if ($(this).data("thumbindex") === index % $size) {
				$(this).fadeIn();
			}
		});
		index++;
		setTimeout(function () {
			showHide();
		}, 10000);
	}
</script>
</html>