<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	
	
	<!--  DAOs  -->
	<bean id="equipoDAO" class="es.nbajugones.dao.impl.jdbc.EquipoDAOImpl" autowire="byName"></bean>
        <bean id="jugadorDAO" class="es.nbajugones.dao.impl.jdbc.JugadorDAOImpl" autowire="byName"></bean>
        <bean id="derechosDAO" class="es.nbajugones.dao.impl.jdbc.DerechosDAOImpl" autowire="byName"></bean>
        <bean id="rondaDAO" class="es.nbajugones.dao.impl.jdbc.RondaDAOImpl" autowire="byName"></bean>
        <bean id="logDAO" class="es.nbajugones.dao.impl.jdbc.LogDAOImpl" autowire="byName"></bean>
</beans>
